@if (isDialogReady) {
  <main>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <button type="button" class="close" (click)="dialogRef.close()">x</button>
      <input
        type="text"
        [(ngModel)]="formData.company"
        placeholder="Cég/vállalkozó neve"
        name="company"
      />
      <input
        type="text"
        [(ngModel)]="formData.companyType"
        placeholder="Cég vagy egyéni vállalkozó"
        name="companyType"
      />
      <input
        type="text"
        [(ngModel)]="formData.companyRole"
        placeholder="Cég/vállalkozó szerepköre"
        name="companyRole"
      />
      <input
        type="text"
        [(ngModel)]="formData.contactPerson"
        placeholder="Kapcsolattartó személy"
        name="contactPerson"
      />
      <input
        type="text"
        [(ngModel)]="formData.contactPersonPosition"
        placeholder="Kapcsolattartó beosztás"
        name="contactPosition"
      />
      <input
        type="email"
        [(ngModel)]="formData.email"
        placeholder="E-mail"
        name="email"
      />
      <input
        type="text"
        [(ngModel)]="formData.phone"
        placeholder="Telefonszám"
        name="phone"
      />
      <input
        type="password"
        [(ngModel)]="formData.password"
        placeholder="Jelszó"
        name="password"
      />
      <button type="submit">Regisztrálok</button>
      <span class="error">{{ errorMessage }}</span>
      <span class="spinner" *ngIf="showSpinner"
        ><mat-spinner color="warn"></mat-spinner
      ></span>
    </form>
  </main>
}
