@if (isDialogReady) {
  <main>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <button type="button" class="close" (click)="dialogRef.close()">x</button>
      <span class="title">Regisztráció</span>
      <input
        type="text"
        [(ngModel)]="formData.company"
        placeholder="Cég/vállalkozó neve"
        name="company"
      />
      <select [(ngModel)]="formData.companyType" name="companyType">
        <option value="company" default>Cég</option>
        <option value="soleProprietor">Egyéni vállalkozó</option>
      </select>
      <select [(ngModel)]="formData.companyRole" name="companyRole">
        <option value="employer">Munkáltató</option>
        <option value="hrProvider">HR Szolgáltató</option>
        <option value="administrator">Lebonyolító</option>
      </select>
      <input
        type="text"
        [(ngModel)]="formData.contactPerson"
        placeholder="Kapcsolattartó személy"
        name="contactPerson"
      />
      <input
        type="text"
        [(ngModel)]="formData.contactPersonPosition"
        placeholder="Kapcsolattartó beosztás"
        name="contactPosition"
      />
      <input
        type="email"
        [(ngModel)]="formData.email"
        placeholder="E-mail"
        name="email"
      />
      <input
        type="text"
        [(ngModel)]="formData.phone"
        placeholder="Telefonszám"
        name="phone"
      />
      <input
        type="password"
        [(ngModel)]="formData.password"
        placeholder="Jelszó"
        name="password"
      />
      <button type="submit">Regisztrálok</button>
      <span class="error">{{ errorMessage }}</span>
      <span class="spinner" *ngIf="showSpinner"
        ><mat-spinner color="warn"></mat-spinner
      ></span>
    </form>
  </main>
}
