@if (isDialogReady) {
  <main>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <button type="button" class="close" (click)="dialogRef.close()">x</button>
      <input type="text" [(ngModel)]="formData.name" placeholder="Name" name="name" />
      <input type="email" [(ngModel)]="formData.email" placeholder="Email" name="email" />
      <input
        type="password"
        [(ngModel)]="formData.password"
        placeholder="Jelszó"
        name="password"
      />
      <button type="submit">Regisztrálok</button>
      <span class="error">{{ errorMessage }}</span>
      <span class="spinner" *ngIf="showSpinner"
        ><mat-spinner color="warn"></mat-spinner
      ></span>
    </form>
  </main>
}
