* {
  @apply mb-2;
}
form {
  background-color: var(--lighter);
  @apply flex flex-col w-72 rounded-lg p-3 relative;
}
.title {
  color: var(--secondary);
  @apply text-center text-xl font-bold;
}
input, select {
  background-color: var(--dark);
  @apply rounded-md p-2 text-gray-500 text-sm;
}
::placeholder {
  @apply text-sm text-gray-500;
}
button[type="submit"] {
  background-color: var(--secondary);
  @apply rounded-md p-2;
}
.close {
  @apply absolute right-3 top-2 z-10 text-white;
}
.error {
  color: var(--secondary);
  @apply text-center;
}
.spinner {
  @apply flex justify-center;
}
.mat-warn {
  --mdc-circular-progress-active-indicator-color: var(--secondary);
}
